/***
->Html start, Ebt ödevi
    -> Çocuklar için html
->Grup Üyeleri : 
    -> Ahmet Erşin
    -> Hatice Ergün
    -> Kerem Ermiş
    -> Kusi Musah
***/
/***
COLOR PALETTE

#455A64 -> Değişik Koyu Mavi-yeşil
#CFD8DC -> Açık arka plan mavi-yeşil
#ECEFF1 -> Beyaza yakın gri

***/
/***Font İmport***/
@import url(https://fonts.googleapis.com/css?family=Roboto);
*{
    font-family: Roboto;
}
/***CSS Fixes***/
*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}
/***Public Class***/
/***    Color Classes***/
.bg-lightblue{
    background-color: #455A64;
}
.bg-body{
    background-color: #ECEFF1;
}
h1{
    color:#546E7A;
}
/***    Shadow Classes***/
.shadow-light{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.shadow-side{
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
}
/***    Position Classes***/
.clear{
    clear: both;
}
.ltrim-1{
    margin-left: 10px;
}
.ltrim-2{
    margin-left: 20px;
}
.sticky:before,
.sticky:after {
    content: '';
    display: table;
}
/***    Other Classes***/
.hide{
    display: none;
}
.container{
    margin: 0 auto;
    width: 1140px;
}
/***HEADER***/
.header{
    position: -webkit-sticky;
    position: sticky;
    z-index: 2;
    top: 0;
    height: 120px;
    padding-left: 50px;
    padding-top: 10px;
}
.header-minifier{
    height: 47px;
}
.logo img{
    height: 70px;
    width: auto;
}
.menu{
    margin-top: 10px;
}
.menu > ul li{
    float: left;
    margin-left: 30px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    opacity: .85;
}
.menu > ul li:hover{
    opacity: 1;
    transition: opacity 0.3s;
}
.menu > ul li a::after{
    content: ' ';
    width: calc(100% + 16px);
    height: 3px;
    margin-top: 9px;
    margin-left: -8px;
    background-color: inherit;
    float: left;
}
.menu .active{
    opacity: 1;
}
.menu .active a::after{
    background-color: white;
}
.menu > ul li:first-child{
    margin: 0;
}
/***Main Container***/
.main-container{
    margin: 20px auto;
    width: 1200px;
    height: 800px;
}
.main-container > div{
    float: left;
}
/*** Sidebar***/
.sidebar{  
    background-color: #FAFAFA;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    position: -webkit-sticky;
    position: sticky;
    top: 70px;
    height: 500px;
    padding: 10px;
    width: 250px;
}
.sidebar > .title{
    color: #263238;
    font-size: 25px;
    line-height: 30px;
}
.sidebar > hr{
    opacity: .3;
    margin-top: 5px;
    margin-bottom: 5px;
}
.sidebar > ul{
    color: #455A64;
    padding-left: 5px;
}
.sidebar *{
    line-height: 22px;
}
.sidebar .subtitle{
    letter-spacing: 1px;
    line-height: 25px;
    font-size: 19px;
}
.sidebar ul li ul > li{
    margin-left: 20px;
}
.sidebar .tag{
    color: #01579B;
    font-family: monospace;
    font-size: 17px;
    font-weight: bold;
    opacity: .9;
}
.sidebar ul li ul li{
    font-size: 15px;
    color: #0288D1;
}
.sidebar ul li ul li ul > li{
    margin-left: 20px;
    color: #039BE5;
}
/***    Content***/
.content{
    position: relative;
    background-color: #FAFAFA;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    width: 880px;
    height: 800px;
    margin-left: 10px;
    padding: 20px;
    padding-top: 10px;
}

/***    Subjects***/
.curtain-active{
    top:0px;
    left: 0px;
    opacity: .5;
    position: fixed;
    z-index: 5;
    height: 100%;
    width: 100%;
    background-color: black;
}
#mascot{
    position: absolute;
    top:170px;
    left: 220px;
    height: 200px;
    z-index: 6;
    transition: all 0.3s;
}
.text-bubble {
    color: white;
    position: absolute;
    left: 420px;
    top: 200px;
    width: 250px;
    height: 100px;
    padding: 15px;
    background: #607D8B;
    font-family: monospace;
    font-size: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    z-index: 6;
    transition: all 0.3s;
}
.text-bubble:after {
    content: "";
    position: absolute;
    top: 35px;
    left: -15px;
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: transparent #607D8B;
    display: block;
    width: 0;
    z-index: 1;
}
.action-button{
    cursor: pointer;
    position: relative;
    top: 400px;
    margin: 0 auto;
    background-color: #455A64;
    width: 500px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 4px 4px rgba(0,0,0,0.23);
    transition: all 0.2s ease-in-out;
}
.action-button:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
#tag-title{
    color: #f92672;
    font-size: 40px;
}
/***        Laptop***/
.laptop{
    position: absolute;
    top: 200px;
    height: 512px;
    width: 512px;
    background-image: url(../images/laptop.png);
}
.screen{
    top:92px;
    left: 40px;
    position: absolute;
    background-color: #23241f;
    width: 432px;
    height: 260px;
    transition: all 0.3s;
}
/***Sample Container***/
.sample-container{
}
.sample-container > span{
    text-transform: capitalize;
    font-size: 35px;
    color: #01579B;
    line-height: 50px;
}
.sample-container > span::after{
    content: ' ';
    width: 100%;
    height: 2px;
    background-color: #263238;
    opacity: .8;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
}
.sample-container code{
}
/***Footer***/
.footer::before{
    background: #455A64;
    content: " ";
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    width: 100%;
}
.footer{
    position: relative;
    margin-top: 50px;
    height: 50px;
    background-color: #FAFAFA;
}
.footer span:nth-child(1){
    font-size: 25px;
    padding-left: 20px;
    font-family: monospace;
    line-height: 50px;
}
.footer ul{
    line-height: 50px;
    display: inline-block;
    color: #0288D1;
    float: right;
    margin-right: 20px;
}
.footer ul > li{
    display: inline;
    margin-left: 5px;
}